toolbar button {
	padding: 0px;
	margin: 0px;
}

scale {
	min-width: 100px;
}

.zoomBox {
	padding-right: 10px;
	padding-left: 5px;
}

notebook stack {
	background-color: #999999;
}

notebook viewport {
	background-color: transparent;
	box-shadow: 0 0 15px 10px #333333;
}

tab {
	background-color: #dddddd;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 2px 0px 5px grey;
	margin-right: -8px;
	outline: 0; /*remove box when tab is selected*/

	/*background-image: linear-gradient(white, #999999);*/
}